form {
    width: 100%;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 900;
    font-size: 2rem;
    margin: 2rem 0;
}

form input,
form textarea {
    height: 36px;
}

form button {
    font-size: 3rem;
    margin-top: 25px;
    width: fit-content;
    align-self: center;
}