.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100dvh;
}

.container h1 {
    margin: 0 auto;
    padding: 20px;
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 5px dashed grey;
    margin-bottom: 2.5rem;
}

form {
    position: absolute;
    width: 100%;
    bottom: 50px;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
}

form label {
    font-weight: 900;
    margin: 2rem 0;
    display: block;
}

form input {
    width: 60%;
    height: 36px;
}

form button {
    height: 36px;
}