.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100dvh;
}

.container h1 {
    margin: 0 auto;
    padding: 20px;
    font-size: 3.5rem;
    text-align: center;
    border-bottom: 5px dashed grey;
    margin-bottom: 2.5rem;
}

ul li {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid grey;
}

ul li button {
    padding: 1rem;
    font-size: 2rem;
    vertical-align: middle;
}

ul li .public-label {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    background-color: bisque;
}

ul li .non-public {
    background-color: yellow;
}